img {
    height: 5rem;
    width: 10rem;
    object-fit: cover;
}

body {
    width: 90%;
    max-width: 50rem;
    margin: auto;
    text-align: center;
}

ul {
    list-style-type: none;
}

button {
    height: 50px;
    width: 180px;
    border: 1px solid;
}

button:hover {
    cursor: pointer;
}

.code-practice-section {
    border: 1px solid black;
    min-height: 120px;
    margin: 35px 0;
    padding: 20px 0;
}